
html {
    height: 100%;
}
body {
    background-image: linear-gradient(rgb(190, 190, 190), rgb(0, 0, 0));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* body {
    background-image: linear-gradient(rgb(190, 190, 190), rgb(0, 0, 0));
    background-size: cover;
    background-repeat: no-repeat;
  } */

  #signature {
    font-family: 'Satisfy', cursive;
    font-size: 3em;
    margin-left: 20%;
    font-weight: 400;
    text-shadow: 0px 5px 7px red;
  }

  header p {
    /* border: 1px solid black; */
    font-size: 1em;
    margin-left: 35%;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 2%;
  }
  
  #experimental, 
  #flowers,
  #landscapes {
    height: 300px;
    width: 90%;
    background: white;
    border: 1px solid black;
    margin-left: 5%;
    margin-bottom: 2%;
  }

  section div p {
    border: 1px solid red;
    height: 300px;
    width: 50%;
    float: left;
    background: black;
    }
